In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import pickle

In [3]:
data=pd.read_csv('Churn_modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data= data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

label_encoder_gender=LabelEncoder()
onehotencoder_geo=OneHotEncoder(sparse_output=False)

In [6]:
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [7]:
geo_encoded=onehotencoder_geo.fit_transform(data[['Geography']])
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [8]:
onehotencoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [9]:
geoencoded_df=pd.DataFrame(geo_encoded, columns=onehotencoder_geo.get_feature_names_out(['Geography']))

In [10]:
geoencoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
#Combining data to encoded data
data=pd.concat([data.drop(['Geography'], axis=1), geoencoded_df], axis=1)

In [12]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [13]:
# Saving the encoders in pickle format
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehotencoder_geo.pkl', 'wb') as file:
    pickle.dump(onehotencoder_geo, file)

In [14]:
# Divide data into dependent and independent features
X=data.drop(['Exited'], axis=1)
y=data['Exited']

In [15]:
#Divide data into train and test
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

#Scaling the data
scaler= StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [16]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [17]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [18]:
!pip install tensorflow==2.13.0

Requirement already satisfied: tensorflow==2.13.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (2.13.0)
Requirement already satisfied: tensorflow-intel==2.13.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow==2.13.0) (2.13.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.2.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (1.6.3)
Requirement already satisfied: flatbuffers>=23.1.21 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (24.3.25)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (3.13.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (18.1.1)
Requirement already satisfied: numpy<=1.24.3,>=1.22 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (1.24.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (3.4.0)
Requirement already satisfied: packaging in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (4.25.7)
Requirement already satisfied: setuptools in c:\users\shiva\onedrive - iit delhi\desktop\padhai\placement\datascience\projects\churnprediction\venv\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (78.1.1)
Requirement already satisfied: six>=1.12.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.5.0)
Collecting typing-extensions<4.6.0,>=3.6.6 (from tensorflow-intel==2.13.0->tensorflow==2.13.0)
  Using cached typing_extensions-4.5.0-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (1.17.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (1.68.0)
Requirement already satisfied: tensorboard<2.14,>=2.13 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.13.0)
Requirement already satisfied: tensorflow-estimator<2.14,>=2.13.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.13.0)
Requirement already satisfied: keras<2.14,>=2.13.1 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.13.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorflow-intel==2.13.0->tensorflow==2.13.0) (0.31.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.36.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (3.7)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.32.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (3.1.3)
Requirement already satisfied: wheel>=0.26 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (0.45.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (2024.7.4)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from rsa<5,>=3.1.4->google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (3.2.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\shiva\appdata\roaming\python\python311\site-packages (from werkzeug>=1.0.1->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow==2.13.0) (2.1.5)
Using cached typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Installing collected packages: typing-extensions
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.13.2
    Uninstalling typing_extensions-4.13.2:
      Successfully uninstalled typing_extensions-4.13.2
Successfully installed typing-extensions-4.5.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
altair 5.5.0 requires typing-extensions>=4.10.0; python_version < "3.14", but you have typing-extensions 4.5.0 which is incompatible.
fastapi 0.115.5 requires typing-extensions>=4.8.0, but you have typing-extensions 4.5.0 which is incompatible.
groq 0.13.0 requires typing-extensions<5,>=4.7, but you have typing-extensions 4.5.0 which is incompatible.
ipython 8.30.0 requires typing_extensions>=4.6; python_version < "3.12", but you have typing-extensions 4.5.0 which is incompatible.
langchain-core 0.3.21 requires typing-extensions>=4.7, but you have typing-extensions 4.5.0 which is incompatible.
openai 1.55.3 requires typing-extensions<5,>=4.11, but you have typing-extensions 4.5.0 which is incompatible.
pydantic 2.10.2 requires typing-extensions>=4.12.2, but you have typing-extensions 4.5.0 which is incompatible.
pydantic-core 2.27.1 requires typing-extensions!=4.7.0,>=4.6.0, but you have typing-extensions 4.5.0 which is incompatible.
selenium 4.28.1 requires typing_extensions~=4.9, but you have typing-extensions 4.5.0 which is incompatible.
sqlalchemy 2.0.35 requires typing-extensions>=4.6.0, but you have typing-extensions 4.5.0 which is incompatible.
torch 2.5.1 requires typing-extensions>=4.8.0, but you have typing-extensions 4.5.0 which is incompatible.

In [19]:
import tensorflow as tf

In [20]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [21]:
#Building the ANN model
model=Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)), #Hidden layer 1
        Dense(32, activation='relu'), #Hidden Layer 2
        Dense(1, activation='sigmoid')

    ]
)

In [22]:
X_train.shape[1]

12

In [23]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
loss=tf.keras.losses.BinaryCrossentropy()
loss

In [26]:
#Compiling the model
model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

In [28]:
#setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir="log/fit"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [31]:
#setup EarlyStopping
early_stopping_callback=EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [32]:
#Now my model is ready, now time to train the model

history=model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100

250/250 [==============================] - 1s 3ms/step - loss: 0.3460 - accuracy: 0.8568 - val_loss: 0.3334 - val_accuracy: 0.8615
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3419 - accuracy: 0.8584 - val_loss: 0.3422 - val_accuracy: 0.8645
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3327 - accuracy: 0.8669 - val_loss: 0.3378 - val_accuracy: 0.8625
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3322 - accuracy: 0.8650 - val_loss: 0.3434 - val_accuracy: 0.8635
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3329 - accuracy: 0.8631 - val_loss: 0.3444 - val_accuracy: 0.8600
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3322 - accuracy: 0.8665 - val_loss: 0.3475 - val_accuracy: 0.8520
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3290 - accuracy: 0.8637 - val_loss: 0.3496 - val_accuracy: 0.8525
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3286 - accuracy: 0.8662 - val_loss: 0.3415 - val_accuracy: 0.8610
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3240 - accuracy: 0.8664 - val_loss: 0.3494 - val_accuracy: 0.8610
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3228 - accuracy: 0.8656 - val_loss: 0.3494 - val_accuracy: 0.8565
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3210 - accuracy: 0.8665 - val_loss: 0.3518 - val_accuracy: 0.8580

In [33]:
#save the model
model.save('model.h5')

C:\Users\shiva\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [34]:
#load tensoboard extension

%load_ext tensorboard

In [37]:
%tensorboard --logdir log/fit20250601-150653

Reusing TensorBoard on port 6006 (pid 26684), started 0:01:06 ago. (Use '!kill 26684' to kill it.)